@import "./reset";
// @import "config/font-setting";
@import "font-awesome";
@import "config/colors";
@import "config/paddings-and-margins";
@import "config/sizes";
@import "mixin/a-color-unchanged";
@import "mixin/submit-set";
@import "mixin/text-set";
@import "modules/user";
@import "modules/flash";
@import "modules/main-view";