
.flash-box{
  background-color: $color_flash-body;
  color: $font-white;
  text-align: center;
}

.contents{
  @include a-color-unchanged();
  height: 100vh;
  width: 100%;
  display: flex;
  .content-side{
    width: $width_side;
    background-color: $color_side-body;
    color: $font-white;
    .side-header{
      height: $height_header;
      padding: 0 $pad_side-lr;
      background-color: $color_side-top;
      &__box{
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        &__menu{
          display: flex;
          &--add-group{
            margin-left: 6px;
          }
        }
      }
    }
    .side-groups{
      padding: $pad_side-group-ud $pad_side-lr;
      font-weight: bold;
      .group{
        &__group-name{
          font-size: 15px;
          padding-bottom: 5px;
        }
        &__latest-message{
          font-size: 11px;
        }
      }
    }
  }
  .content-main{
    width: $width_main;
    background-color: $color_main-body;
    .main-header{
      height: $height_header;
      border-bottom: 1px solid $color_main-border;
      padding: 0 $pad_main-lr;
      background-color: $font-white;
      position: relative;
      &__left-box{
        position: absolute;
        bottom: 0;
        &--group-name{
          font-size: 20px;
          color: $color_main-group-name;
          margin-bottom: 15px;
        }
        &--group-members{
          font-size: 12px;
          color: $color_main-group-members;
        }
      }
      &__right-box{
        height: $height_main-group-edit;
        position: absolute;
        top: 28px; right: $pad_main-lr;
        box-sizing: content-box;
        border: 1px solid $color_main-group-edit;
        line-height: $height_main-group-edit;
        color: $color_main-group-edit;
        &--group-edit{
          padding: 0 $pad_m;
        }
      }
    }
    .main-body{
      padding: $pad_main-bet-header-body $pad_main-lr $pad_main-body-ud;
      height: $height_main-body;
      .message{
        padding: $pad_main-body-ud 0;
        &__post-info{
          display: flex;
          &--post-user{
            font-size: 16px;
            color: $color_main-user-text;
            font-weight: bold;
            padding: 0 $pad-s $pad-s 0;
          }
          &--post-date{
            font-size: 12px;
            color: $color_main-group-members;
          }
        }
      }
    }
    .main-form{
      height: $height_main-form;
      width: $width_main;
      background-color: #dddddd;
      position: fixed;
      bottom: 0; right: 0;
      .form-body{
        padding: $pad-m $pad_main-lr;
        display: flex;
        .new-message{
          display: flex;
          align-items: center;
          &__input-box{
            @include text-set();
            position: relative;
            padding-left: $pad-s;
            &--text{
              height: $height_main-form-input;
              width: $width_main-form-input-text;
              min-width: 30px;
              border: none;
            }
            &__image-box{
              position: absolute;
              top: 0; bottom: 0; right: 0;
              line-height: $height_main-form-input;
              padding: 0 $pad-s;
              background-color: $color_main-body;
              &--image{
                cursor: pointer;
              }
              &--filesend{
                display: none;
              }
            }
            &--send{
              @include submit-set();
              height: $height_main-form-input;
              width: $width_main-form-submit;
              margin-left: 25px;
            }
          }
        }
      }
    }
  }
}
